.popularHeading h3{
    color: white !important;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.5);
}
.youStartPopular{
    margin-top: 30px;
}
.popularVideoMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;
    padding: 5px;
}
.popularVideoShow iframe{
    width: 350px;
    height: 180px;
    margin: 10px;
}
@media (max-width:600px){
    .popularVideoShow iframe{
        width: 250px;
        height: 150px;
        margin: 10px;
    }
}