.youNabarMain .navbar{
    background-color: #192133;
    border-bottom: 1px solid rgb(5, 25, 43);
    color: white;
    padding:10px 30px;
}
.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: rgb(207, 207, 207);
}
.navbar .navbar-brand{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar .navbar-brand:visited{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-menu{
    background-color: #192133;
    color: white;
}
.dropdown-menu a{
    color: white;
}
.bg-iconnav {
    background: #f0323d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #353535 0%, #999798 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #aaa8a8 0%, #353535 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #353535 0%, #969394 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0323d', endColorstr='#e6366c', GradientType=0);
    /* IE6-9 */
    border-radius: 0;
    padding: 0px 7px;
  }
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width:992px){
    .youNabarMain .navbar{
        padding:10px 20px;
    }
}

@media (max-width:768px){
    .youNabarMain .navbar{
        padding:8px 15px;
    }
}

@media (max-width:600px){
    .youNabarMain .navbar{
        padding:8px 2px;
    }
}

@media (max-width:350px){
    .youNabarMain .navbar{
        padding:7px 1px;
    }
}   