.youBannerMain .carousel-inner .carousel-item img{
    width: 100%;
    height: 450px;  
    margin: 20px auto; 
}
.youBannerMain .carousel-inner{
    padding: 0 30px;
}

@media (max-width:992px){
    .youBannerMain .carousel-inner .carousel-item img{
        width: 100%;
        height: 300px;  
        margin: 20px auto; 
    }
    .youBannerMain .carousel-inner{
        padding: 0 30px;
    }
}
@media (max-width:768px){
    .youBannerMain .carousel-inner .carousel-item img{
        width: 100%;
        height: 250px;  
        margin: 20px auto; 
    }
    .youBannerMain .carousel-inner{
        padding: 0 30px;
    }
}
@media (max-width:600px){
    .youBannerMain .carousel-inner .carousel-item img{
        width: 100%;
        height: 200px;  
        margin: 20px auto; 
    }
    .youBannerMain .carousel-inner{
        padding: 0 10px;
    }
    .youBannerMain  .carousel-control-next-icon{
        font-size: 10px;
    }
}
@media (max-width:350px){
    .youBannerMain .carousel-inner .carousel-item img{
        width: 100%;
        height: 150px;  
        margin: 20px auto; 
    }
    .youBannerMain .carousel-inner{
        padding: 0 5px;
    }
}