body{
  background-color: #192133;
}

.whatsapp img {
  position: fixed;
  float: left;
  bottom: 0;
  width: 80px;
  height: 80px;
  padding: 10px;
}
@media (max-width:600px){
  .whatsapp img {
    position: fixed;
    bottom: 0;
    width: 65px;
    height: 65px;
    padding: 10px;
  }
}
